<div class='wrapper_with_padding'>
  <div id='note_show'>
    <p id="notice"><%= notice %></p>

    <p>
      <%= image_tag @post.image.url(:medium) %><br>
      <%= @post.description %>
    </p><br>

    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_post_path(@post), class: "button" %> 
      <%= link_to 'Back', posts_path, class: "button" %>
    <% end %>
  </div>
</div>